.container
  .row
    .col-md-12
      - @categories.each do |category|
        %p
          = link_to category.title, category_path(category)
        %ul
          - category.articles.each do |article|
            %li
              = link_to article.title, article_path(article)
